<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Tarefas</span>
    </mat-toolbar>

    <!-- Nome -->
    <mat-table [dataSource]="tarefas" class="mat-elevation-z8">
      <!-- Referencia Column -->
      <ng-container matColumnDef="referencia">
        <mat-header-cell *matHeaderCellDef>Referência</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [href]="construirUrl(element.referencia)" target="_blank">{{
            element.referencia
          }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.nome }}</mat-cell>
      </ng-container>

      <!-- Prioridade Column -->
      <ng-container matColumnDef="prioridade">
        <mat-header-cell *matHeaderCellDef>Prioridade</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.prioridade }}</mat-cell>
      </ng-container>

      <!-- Hora Marcada Column -->
      <ng-container matColumnDef="horamarcada">
        <mat-header-cell *matHeaderCellDef>Hora marcada</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.horamarcada }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- Botão FAB para alternar o status -->
          <button mat-mini-fab color="primary" (click)="alterarStatus(element)">
            <!-- Adicione o ícone do Material Icons aqui -->
            <mat-icon>{{ obterIconePorStatus(element.status) }}</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Coluna de ações -->
      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef>
          <button
            mat-raised-button
            color="primary"
            aria-label="Adicionar uma tarefa"
            (click)="onAdd()"
          >
            <mat-icon>add</mat-icon>
            ADD
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- Botão de ações -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <!-- Menu de ações -->
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              routerLink="atualizar/{{ element.id }}"
              aria-label="Editar uma tarefa"
              class="btn-editar"
            >
              <mat-icon>edit_square</mat-icon>
              Editar
            </button>
            <button
              mat-menu-item
              routerLink="deletar/{{ element.id }}"
              aria-label="Remover uma tarefa"
              class="btn-excluir"
            >
              <mat-icon>delete</mat-icon>
              Remover
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
