.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .mat-header-cell, .mat-cell {
    max-width: 150px;
  }
}

/* Estilo para o link antes de ser clicado */
mat-cell a {
  color: #0066cc; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
  cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse sobre o link */
}

/* Estilo para o link ao passar o mouse sobre ele */
mat-cell a:hover {
  font-weight: bold;
  color: #0077ff; /* Cor do link ao passar o mouse */
  text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
}

/* Estilo para o link após ser clicado (visitado) */
mat-cell a:visited {
  color: #0066cc; /* Cor do link visitado */
}

mat-cell a:hover:visited {
  color: #0077ff;
}

.btn-editar mat-icon, .btn-editar {
  color: #0077ff; /* Verde */
  transition: color 0.3s;
}

.btn-editar:hover mat-icon, .btn-editar:hover {
  color: #002fff; /* Verde escuro */
}

.btn-excluir mat-icon, .btn-excluir {
  color: #f44336; /* Vermelho */
  transition: color 0.3s;
}

.btn-excluir:hover mat-icon, .btn-excluir:hover {
  color: #d32f2f; /* Vermelho escuro */
}













