<mat-card>

    <mat-toolbar color="primary"> Adicionar tarefa </mat-toolbar>

    <mat-card-content>

    <form [formGroup]="form">
      <input name="" id="id" formControlName="id" type="hidden">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome"/>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Escolha uma opção</mat-label>
        <mat-select formControlName="prioridade">
          <mat-option value="NORMAL">Normal</mat-option>
          <mat-option value="ALTA">Alta</mat-option>
          <mat-option value="CRITICA">Crítica</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Hora Marcada"
          formControlName="horamarcada"
          type="time"
          min="00:00"
          max="23:59"
          />
        </mat-form-field>



      <mat-form-field class="full-width">
        <mat-label>REFERÊNCIA</mat-label>
        <span matPrefix>https://pt.wikipedia.org/wiki/</span>
        <input matInput formControlName="referencia" />
      </mat-form-field>




      <mat-form-field class="alinhado-esquerda full-width">
        <mat-label>Dias da Semana</mat-label>
        <mat-select formArrayName="diasDaSemana" multiple>
          <mat-option *ngFor="let dia of dias; let i = index" [value]="true">
            <input type="checkbox" [formControlName]="i" class="hide-checkbox">
            {{ dia }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Frequência de Repetição</mat-label>
        <mat-select formControlName="repeticaoHoras">
          <mat-option value="null">Sem repetição</mat-option>
          <mat-option value="1">De hora em hora</mat-option>
          <mat-option value="3">A cada 3 horas</mat-option>
          <mat-option value="6">A cada 6 horas</mat-option>
          <mat-option value="12">A cada 12 horas</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions class="actions">
    <button mat-raised-button class="primeiro-botao" (click)="onCancel()">
      Cancelar
    </button>
    <button
      mat-raised-button
      class="segundo-botao"
      color="primary"
      (click)="onSubmit()"
    >
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
