.full-width{
    width: 100%;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.primeiro-botao {
  margin-right: 10px;
}

.segundo-botao {
  margin-left: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens sejam exibidos em várias linhas se necessário */
  gap: 10px; /* Espaçamento entre os checkboxes */
}

.alinhado-esquerda .mat-select-value {
  justify-content: flex-start;
}

.hide-checkbox {
  display: none;
}






